.container {
    margin-left: 2%;
    margin-right: auto;
    width: 90%;
    height: 90%;
    overflow: scroll;
    overflow-y: auto;
    display:block;
   }

  .sky {
    height: 515px;
    width: 1320px;
    border:1px dotted #ccc;
    background-color: #ccc;
  }